* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

@import url('/assets/fonts/fonts.css');


/* navbar section */

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    /* background-color: #333; */
    height: 44px;
}

.nav a {
    font-family: sf-pro-text_regular;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 32px;
    overflow-y: hidden;
    overflow-x: hidden;

}

.nav a:hover {
    color: white;
}

.nav-fa img {
    z-index: 1;
}

@media only screen and (max-width: 1150px) and (min-width: 1020px) {
    .nav a {
        padding: 5px 30px;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 930px) {
    .nav a {
        padding: 5px 25px;
    }
}

@media only screen and (max-width: 930px) and (min-width: 830px) {
    .nav a {
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 830px) and (min-width: 730px) {
    .nav a {
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 730px) and (min-width: 690px) {
    .nav a {
        padding: 5px 14px;
    }
}

.sub_nav {
    margin-top: 44px;
    text-align: center;
    padding: 1rem 0 0;
    height: 44px;
    background-color: #f5f5f7;
    font-family: sf-pro-text_regular;
}

.sub_nav p {
    padding: 0 8rem;
    font-size: 14px;
}


/* Hero section */
.hero {
    padding: 46px 0 0;
    text-align: center;
}

.sub-hero-section-1 {
    text-align: center;
}

.headline {
    font-family: sf-pro-text_regular;
    font-size: 53px;
    letter-spacing: -.002em;
}

.subhead {
    font-size: 27px;
    font-family: sf-pro-text_regular;
    font-weight: 100;
    padding: 2px 0 0;
    letter-spacing: -.04em;
}

.pricing-info {
    margin: 14px 0 0;
    font-family: sf-pro-text_regular;
    font-size: 16px;
    letter-spacing: .04em;
    color: #86868b;
}

.sub-hero-section-1-links {
    margin-top: 20px;
    font-family: sf-pro-display_regular;
}

.sub-hero-section-1-links a {
    text-decoration: none;
    color: #06c;
    font-size: 20px;
    line-height: 1.21053;
    font-weight: 400;
}

.hero-bg {
    width: 65rem;
}


/*  second-hero section */

.second-hero {
    width: 100%;
    text-align: center;
    margin: 12px 0 0;
}

.second-hero-section-1 {
    background-color: black;
}

.second-hero-section-1-content {
    margin: 47px 0 0;
}

.second-hero-section-1-links {
    margin-top: 18px;
    font-family: sf-pro-display_regular;
}

.second-hero-section-1-links a {
    text-decoration: none;
    color: #2997FF;
    font-size: 21px;
    line-height: 1.21053;
    font-weight: 400;
}

.second-hero-bg {
    margin: 2rem 0 0;
    width: 67rem;
}

/* third hero section */

.third-hero {
    width: 100%;
    text-align: center;
    margin: 12px 0 0;
}

.third-hero-section-1 {
    background-color: black;
}

.third-hero-section-1-content {
    margin: 47px 0 0;
}

.third-hero-section-1-links {
    margin-top: 18px;
    font-family: sf-pro-display_regular;
}

.third-hero-section-1-links a {
    text-decoration: none;
    color: #2997FF;
    font-size: 21px;
    line-height: 1.21053;
    font-weight: 400;
}

.third-hero-bg {
    margin: 0.7rem 0 0;
    width: 67rem;
}


/* row */
.column {
    float: left;
    width: 50%;
}

.row {
    margin: 0.7rem 0;
    font-family: sf-pro-text_regular;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.row a {
    text-decoration: none;
}

/* row-1 */
.row-1-col-1,
.row-1-col-2 {
    height: 36.5rem;
    overflow: hidden;
}

.row-1-col-1 .inner-content {
    margin: 0 0.35rem 0 0.7rem;
    background-image: url('assets/images/row-content/row-1/mac.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.row-1-col-1-headline {
    text-align: center;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: sf-pro-display_regular;
    /* font-family: sf-pro-text_regular; */
    margin-top: 53px;
    padding-bottom: 10px;
}

.row-1-col-2 .inner-content {
    background-image: url('assets/images/row-content/row-1/watch.png');
    background-repeat: no-repeat;
    margin: 0 0.7rem 0 0.35rem;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;
}

.row-1-col-2-subhead{
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family:sf-pro-display_regular;
}

.row-1-col-2-links{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: sf-pro-display_regular;
    margin-top: .7em;
}

/* row-2 */
.row-2-col-1,
.row-2-col-2 {
    height: 36.5rem;
    overflow: hidden;
}

.row-2-col-1 .inner-content {
    margin: 0 0.35rem 0 0.7rem;
    background-image: url('assets/images/row-content/row-2/imac.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
}

.row-2-col-1-subhead{
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family:sf-pro-display_regular;
    margin-top: 4px;
}

.row-2-col-1-links{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family:sf-pro-display_regular;
    margin-top: .7em;
    text-align: center;
}

.row-2-col-2 .inner-content {
    background-image: url('assets/images/row-content/row-2/apple-token.png');
    background-repeat: no-repeat;
    margin: 0 0.7rem 0 0.35rem;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
    padding-top: 55px;
}

.row-2-col-2-subhead{
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family:sf-pro-display_regular;
    margin-top: 4px;
}

.row-2-col-2-links{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family:sf-pro-display_regular;
    margin-top: .7em;
    text-align: center;
}

/* row-3 */
.row-3-col-1,
.row-3-col-2 {
    height: 36.5rem;
    overflow: hidden;
}

.row-3-col-1 .inner-content {
    margin: 0 0.35rem 0.7rem;
    background-image: url('assets/images/row-content/row-3/promo-ad.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
    padding-top:57px;
}

.row-3-col-1-subhead{
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family:sf-pro-display_regular;
    color:white;
    margin-top: 11px;
    /* max-width: 270px; */
}

.row-3-col-1-links{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family:sf-pro-display_regular;
    margin-top: .7em;
    text-align: center;
    color: white;
}

.row-3-col-2 .inner-content {
    background-image: url('assets/images/row-content/row-3/promo-car.png');
    background-repeat: no-repeat;
    margin: 0 0.7rem 0 0.35rem;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
    padding-top:59px;
}

.row-3-col-2 .wrapper-content{
    margin-top:15rem;
}

.row-3-col-2-subhead{
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;    
    font-family:sf-pro-display_regular;
    color:white;
    padding-top:20px;
}

.row-3-col-2-links{
    font-size: 17px;
    padding-top: 15px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family:sf-pro-display_regular;
    margin-top: .7em;
    text-align: center;
    color:white;
}



/* 
.footer {
    font-family:sf-pro-text_regular;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    background-color: #f5f5f7;
    color: #1d1d1f;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.footer-inside {
    font-size: 12px;
    font-family:sf-pro-text_regular;
    padding: 1% 15%;
    opacity: 0.6;
}

.column-ft {
    float: left;
    width: 20%;
}

.row-ft:after {
    display: table;
    clear: both;
}

.lower-text {
    float: left;
    padding-right: 2%;
}

.link-design {
    text-align: center;
    color: rgb(85, 85, 243);
    float: left;
    padding-left: 5%;
    font-size: 20px;
}

#left-link {
    padding-left: 43%;
} */



/*--- footer ---*/
footer {
    width: 100%;
    height: 650px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family:sf-pro-text_regular;
    background-color: #f5f5f7;
    color: #1d1d1f;
    /* min-width: 1024px; */
    overflow: hidden;
    /* position: relative; */
    z-index: 1;
  }
  .footer-main {
    width: 980px;
  }
  .footer-detail {
    font-size: 12px;
    font-family:sf-pro-text_regular;
    color: #95a5a6;
    padding: 20px 0;
    border-bottom: 1px solid #bdc3c7;
  }
  .footer-detail a {
    color: #2c3e50;
  }
  .footer-detail a:hover {
    text-decoration: underline;
  }

  .footer-ul {
    display: flex;
    justify-content: space-between;
    font-family:sf-pro-text_regular;
    margin-top:10px;
  }
  .footer-ul ul {
    list-style: none;
  }
  .footer-ul ul li {
    margin-top: 7px;
    margin-bottom: .8em;
  }
  .footer-ul ul li h4 {
    color: #34495e;
    font-size: .7rem;
  }
  .footer-ul ul li a {
    color: #7f8c8d;
    font-size: 12px;
  }
  .footer-ul ul li a:hover {
    text-decoration: underline; 
  }
  #mt {
    padding-top: 15px;
  }
  .footer-contact {
    border-bottom: 1px solid #bdc3c7;
    font-family:sf-pro-text_regular;
    padding: 12px 0;
    /* margin: 10px 0; */
    color: #7f8c8d;
    font-size: 12px;
  }
  .footer-contact a {
    color: #3498db;
  }
  .footer-contact a:hover {
    text-decoration: underline;
  }
  .footer-copyright {
    color: #7f8c8d;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  .footer-copyright ul {
    display: flex;
    list-style: none;
    width: auto;
  }
  .footer-copyright ul li {
    margin: 0 10px;
  }
  .footer-copyright ul li a {
    color: #7f8c8d;
  }
  .footer-copyright ul li a:hover {
    text-decoration: underline; 
  }
  .vr {
    height: 15px;
    width: 1px;
    background: #bdc3c7;
  }
  .footer-lang {
    display: flex;
  }
  .footer-lang p {
    margin: 0 10px;
  }
  .circle {
    width: 15px;
    height: 15px;
  }
  .circle img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
  }